In [21]:
import pandas as pd
import numpy

In [22]:
filename="Recopilación coca cola.xlsx"

df=pd.read_excel(filename,1)
df['Trimestre']=df['Tiempo'].str[:1]
df['Tiempo']=df['Tiempo'].str[3:]
df.rename(columns={"Utilidad de operación " :"Utilidad_de_operacion","Ingresos totales":"Ingresos_totales","Utilidad bruta":"Utilidad_bruta","EBITDA Ajustado":"EBITDA"},inplace=True)
df=df[['Trimestre','Tiempo','Ingresos_totales','Utilidad_bruta','Utilidad_de_operacion','EBITDA']]
df=df.fillna("N/A")
print(df)

queryResultados="INSERT INTO RESULTADOS VALUES"

for idx in df.index:
    row=df.loc[idx]
    queryResultados+="({tiempo},{trimestre},{Ingresos},{UBruta},{UOperacion},{EBI},'Global'),\n".format(trimestre=row['Trimestre'],tiempo=row['Tiempo'],Ingresos=row['Ingresos_totales'],UBruta=row['Utilidad_bruta'],UOperacion=row['Utilidad_de_operacion'],EBI=row['EBITDA'])
    
print(queryResultados)

   Trimestre Tiempo  Ingresos_totales  Utilidad_bruta  Utilidad_de_operacion  \
0          2   2024      69455.803129    31961.302174            9745.981766
1          1   2024      63802.606121    28428.378309            8616.614409
2          4   2023      66078.000000    30475.000000            9674.000000
3          3   2023      62853.010851    28847.885532            8459.569001
4          2   2023      61428.388020    27267.402891            8562.036239
5          1   2023      57357.397600    25458.179364            7724.222120
6          4   2022      61209.427902    27067.925048            9013.477503
7          3   2022      57093.487328    25391.849113            7334.888361
8          2   2022      57310.599224    25271.381289            7652.482268
9          1   2022      51195.451134    22602.156377            6843.593762
10         4   2021      53272.691552    23984.526559            7777.931586
11         3   2021      48315.596639    21816.667297            6476.075171
12         2   2021      47786.358994    22559.993448            7248.080240
13         1   2021      44690.406937    19921.990934            5899.104493
14         4   2020      49115.552469    21938.932476            7228.866063
15         3   2020      46734.010846    21367.214762            7119.135833
16         2   2020      43074.655002    19075.033670            5130.032412
17         1   2020      45348.189320    20713.713028            5728.788605
18         4   2019      51735.124745    22928.402601            6372.668451
19         3   2019      48698.552143    21666.794564            7012.677087
20         2   2019      47978.325808    22102.403535            6337.804932
21         1   2019      46247.735621    20892.290059            5714.352697
22         4   2018      50165.632932    23016.556135            7342.001549
23         3   2018      44148.103167    20236.720810            5777.478320
24         2   2018      52085.985437    22950.914246            6276.008952
25         1   2018      49712.868940    21916.687342            5882.556901
26         4   2017      55275.000000    25063.000000            7548.000000

          EBITDA
0   13922.096083
1   11943.572813
2        13149.0
3   11829.809902
4   11438.524637
5   10521.718006
6   11954.455245
7   10626.362279
8   10607.108274
9    9827.392636
10  10648.200344
11   9319.521631
12  10006.982159
13   8807.441707
14   9997.834165
15  10074.686013
16   8221.220565
17   9086.427469
18   9391.054195
19   10069.21785
20   9180.013944
21   8540.581059
22  10215.015326
23   8491.611646
24   9511.216814
25   8705.554457
26           N/A
INSERT INTO RESULTADOS VALUES(2024,2,69455.80312857535,31961.302174470737,9745.98176555364,13922.096083028468,'Global'),
(2024,1,63802.60612148751,28428.378308814594,8616.61440934002,11943.5728128699,'Global'),
(2023,4,66078.0,30475.0,9674.0,13149.0,'Global'),
(2023,3,62853.01085143204,28847.885531935073,8459.56900132275,11829.809901518796,'Global'),
(2023,2,61428.38802000759,27267.402891312213,8562.03623876235,11438.524637146691,'Global'),
(2023,1,57357.397599880795,25458.17936430975,7724.2221202024,10521.718005967907,'Global'),
(2022,4,61209.42790171153,27067.925048019468,9013.47750326499,11954.455245146693,'Global'),
(2022,3,57093.48732772651,25391.849113290347,7334.888360575071,10626.362279236262,'Global'),
(2022,2,57310.59922378635,25271.381289243713,7652.482268096298,10607.108274113332,'Global'),
(2022,1,51195.45113361231,22602.156377482057,6843.593761695654,9827.392636325114,'Global'),
(2021,4,53272.69155211626,23984.526558529866,7777.931586194914,10648.200343573077,'Global'),
(2021,3,48315.596638839466,21816.667296689317,6476.07517063645,9319.521630928804,'Global'),
(2021,2,47786.358993595255,22559.993447875506,7248.0802404757915,10006.982159271894,'Global'),
(2021,1,44690.40693672021,19921.9909338332,5899.104492809429,8807.441706916166,'Global'),
(2020,4,49115.552468539085,21938.932476289367,7228.86606319706,9997.834164877875,'Global'),
(2020,3,46734.010845961835,21367.214761846248,7119.135832770328,10074.686012719721,'Global'),
(2020,2,43074.655001929,19075.033669912315,5130.032411952074,8221.220564662008,'Global'),
(2020,1,45348.18932037066,20713.713027511836,5728.788605381143,9086.42746854843,'Global'),
(2019,4,51735.1247449662,22928.402601123445,6372.668451114874,9391.05419548701,'Global'),
(2019,3,48698.552143166955,21666.794564466232,7012.677086686622,10069.217849966226,'Global'),
(2019,2,47978.325808098336,22102.403535336995,6337.804932222957,9180.013943656655,'Global'),
(2019,1,46247.73562053852,20892.29005949488,5714.352697168594,8540.581058540392,'Global'),
(2018,4,50165.632931969056,23016.55613541045,7342.001548950003,10215.015326160235,'Global'),
(2018,3,44148.103167386806,20236.72080955599,5777.478320144682,8491.611646311303,'Global'),
(2018,2,52085.98543706606,22950.914246265816,6276.00895208458,9511.21681359364,'Global'),
(2018,1,49712.86893964255,21916.68734193612,5882.556900653713,8705.55445693481,'Global'),
(2017,4,55275.0,25063.0,7548.0,N/A,'Global'),

In [30]:
dfResultsMx=pd.read_excel(filename,2)

dfResultsMx['Trimestre']=dfResultsMx['Tiempo'].str[:1]
dfResultsMx['Tiempo']=dfResultsMx['Tiempo'].str[3:]
print(dfResultsMx.columns)

queryResultadosMx="INSERT INTO resultados VALUES"

for idx in dfResultsMx.index:
    tiempo=dfResultsMx['Tiempo'].loc[idx]
    queryResultadosMx+="({anio},{cuarto},{ingresos},{UBruta},{UOperacion},{EBI},'Mexico'),\n".format(anio=dfResultsMx['Tiempo'].loc[idx],cuarto=dfResultsMx['Trimestre'].loc[idx],ingresos=dfResultsMx['Ingresos totales'].loc[idx],UBruta=dfResultsMx['Utilidad bruta'].loc[idx],UOperacion=dfResultsMx['Utilidad de operación '].loc[idx],EBI=dfResultsMx['EBITDA Ajustado'].loc[idx])

print(queryResultadosMx)

#print(dfResultsMx)

Index(['Tiempo', 'Ingresos totales', 'Utilidad bruta',
       'Utilidad de operación ', 'EBITDA Ajustado', 'Trimestre'],
      dtype='object')
INSERT INTO resultados VALUES(2024,2,45066.53114235432,21947.50721825104,7290.669497499773,9882.158015890753,'Mexico'),
(2024,1,37844.23171576212,17888.07419070231,5681.381972133314,7743.665885295243,'Mexico'),
(2023,4,37622.0,18422.0,5618.0,7704.0,'Mexico'),
(2023,3,39035.23952123994,18688.799341222897,6031.898859612582,8182.473809876002,'Mexico'),
(2023,2,39087.65462351632,18635.445316462967,6508.8282026863935,8229.058548564464,'Mexico'),
(2023,1,33617.46280604312,15918.71768827111,5011.05954708278,6706.067336507261,'Mexico'),
(2022,4,33792.47548530963,15678.046618058166,5212.432387525795,6902.489385083605,'Mexico'),
(2022,3,33799.34620532513,15854.665684198175,5059.4911221730645,7170.912659333747,'Mexico'),
(2022,2,34475.15242874845,16494.98172440966,5726.748249617064,7533.119937699374,'Mexico'),
(2022,1,28934.917286451073,14006.818721884822,4949.790421781691,6722.426287739892,'Mexico'),
(2021,4,30791.72519381558,14918.371249672244,5082.817197610317,6835.3949481293985,'Mexico'),
(2021,3,28760.019102274735,14200.500700949957,4264.702739915021,6061.969655397579,'Mexico'),
(2021,2,30262.255526788973,15175.048615318217,5132.179968356454,6821.101330625191,'Mexico'),
(2021,1,25980.107301336437,13072.354653415612,4361.757600089908,6162.756981398439,'Mexico'),
(2020,4,27072.565038462657,13669.501429387477,4956.081815993917,6612.464861135244,'Mexico'),
(2020,3,26806.885525685047,13302.846564147489,4335.7639382954185,6175.4766800391235,'Mexico'),
(2020,2,27379.69565770218,13480.407333806475,4696.081123022391,6481.799838760074,'Mexico'),
(2020,1,25523.975031399306,12452.955307487506,3434.788591427987,5603.622026332354,'Mexico'),
(2019,4,27253.15365329295,13050.299992054011,3524.349354249953,5501.673884838423,'Mexico'),
(2019,3,28165.535440645097,13387.935044404596,4094.921157765147,5921.995458536547,'Mexico'),
(2019,2,29007.964305584348,14165.673190938416,4526.727844216127,6284.756327152787,'Mexico'),
(2019,1,24822.719061463475,11780.795196080637,3076.342306830987,4772.236775545555,'Mexico'),
(2018,4,0.0,0.0,0.0,0.0,'Mexico'),
(2018,3,0.0,0.0,0.0,0.0,'Mexico'),
(2018,2,0.0,0.0,0.0,0.0,'Mexico'),
(2018,1,0.0,0.0,0.0,0.0,'Mexico'),
(2017,4,23384.0,11203.0,3182.0,4877.0,'Mexico'),

In [43]:
dfResultsSa=pd.read_excel(filename,3)
dfResultsSa=dfResultsSa.transpose()
dfResultsSa.columns=dfResultsSa.iloc[0,:]
dfResultsSa=dfResultsSa.iloc[1:,:]
print(dfResultsSa.columns)

print(dfResultsSa)

Index(['Ingresos totales', 'Utilidad bruta', 'Utilidad de operación ',
       'EBITDA Ajustado (2)'],
      dtype='object', name='Expresado en millones de pesos mexicanos')
Expresado en millones de pesos mexicanos Ingresos totales Utilidad bruta  \
Unnamed: 1                                            NaN            NaN
2T 2024                                      24389.271986   10013.794956
1T 2024                                      25958.374406   10540.304118
4T 2023                                             28456          12054
3T 2023                                       23817.77133   10159.086191
2T 2023                                      22340.733396    8631.957575
1T 2023                                      23739.934794    9539.461676
4T 2022                                      27416.952416    11389.87843
3T 2022                                      23294.141122    9537.183429
2T 2022                                      22835.446795    8776.399565
1T 2022                                      22260.533847    8595.337656
4T 2021                                      22480.966358    9066.155309
3T 2021                                      19555.577537    7616.166596
2T 2021                                      17524.103467    7384.944833
1T 2021                                      18710.299635     6849.63628
4T 2020                                       22042.98743    8269.431047
3T 2020                                       19927.12532    8064.368198
2T 2020                                      15694.959344    5594.626336
1T 2020                                      19824.214289     8260.75772
4T 2019                                      24481.971092    9878.102609
3T 2019                                      20533.016703     8278.85952
2T 2019                                      18970.361503    7936.730344
1T 2019                                      21425.016559    9111.494863
4T 2018                                               NaN            NaN
3T 2018                                               NaN            NaN
2T 2018                                               NaN            NaN
1T 2018                                               NaN            NaN
1T 2017                                             25784          11425

Expresado en millones de pesos mexicanos Utilidad de operación   \
Unnamed: 1                                                  NaN
2T 2024                                             2455.312268
1T 2024                                             2935.232437
4T 2023                                                    4056
3T 2023                                             2427.670142
2T 2023                                             2053.208036
1T 2023                                             2713.162573
4T 2022                                             3801.045116
3T 2022                                             2275.397238
2T 2022                                             1925.734018
1T 2022                                              1893.80334
4T 2021                                             2695.114389
3T 2021                                             2211.372431
2T 2021                                             2115.900272
1T 2021                                             1537.346893
4T 2020                                             2272.784247
3T 2020                                             2783.371894
2T 2020                                              433.951289
1T 2020                                             2294.000014
4T 2019                                             2848.319097
3T 2019                                             2917.755929
2T 2019                                             1811.077088
1T 2019                                              2638.01039
4T 2018                                                     NaN
3T 2018                                                     NaN
2T 2018                                                     NaN
1T 2018                                                     NaN
1T 2017                                                    4137

Expresado en millones de pesos mexicanos EBITDA Ajustado (2)
Unnamed: 1                                               NaN
2T 2024                                          4039.938067
1T 2024                                          4199.906928
4T 2023                                                 5444
3T 2023                                          3647.336092
2T 2023                                          3209.466089
1T 2023                                          3815.650669
4T 2022                                           5051.96586
3T 2022                                           3455.44962
2T 2022                                          3073.988336
1T 2022                                          3104.966349
4T 2021                                          3812.805395
3T 2021                                          3257.551976
2T 2021                                          3185.880829
1T 2021                                          2644.684726
4T 2020                                          3385.369304
3T 2020                                          3899.209333
2T 2020                                          1739.420726
1T 2020                                          3482.805442
4T 2019                                          3889.380311
3T 2019                                          4147.222391
2T 2019                                          2895.257617
1T 2019                                          3768.344283
4T 2018                                                  NaN
3T 2018                                                  NaN
2T 2018                                                  NaN
1T 2018                                                  NaN
1T 2017                                                 5543